//Colors:
$primary-color: #FFA62B;
$primary-color-hover: #e38d15;
$secondary-color-1: #00A0C1;
$secondary-color-2: #16697A;
$text-color: #252B42;
$danger-color: #E74040;
$second-text-color: #737373;
$light-text-color: #FFFFFF;
$dark-background-color: #252B42;
$light-background-color: #FFFFFF;
$hover-color: #2A7CC7;
$disabled-element-color: #8EC2F2;
$muted-color: #BDBDBD;
$success-color: #2DC071;
$alert-color: #E77C40;
$white: #F9F9F9;
$light-gray: #e6e6e6;


//Fonts size:
$first-size: 14px;
$second-size: 15px;
$third-size: 16px;
$fourth-size: 20px;
$fifth-size: 24px;
$sixth-size: 28px;
$seventh-size: 40px;
$eighth-size: 57px;
$ninth-size: 58px;