@use './mixins' as *;
@use './variables' as *;

.main-view {
  width: 100%;
}

.about-us-section {
  width: 100%;
  background-color: $dark-background-color;
  @include setFlex(column, center, center)
}