@use './mixins' as *;
@use './variables' as *;

.main-view {
  width: 100%;
}

.about-us-section {
  width: 100%;
  background-color: $dark-background-color;
  @include setFlex(column, center, center);
  padding-bottom: 125px;
}


.advice-section {
  width: 100%;
  background-color: $dark-background-color;
  @include setFlex(column, center, center);
}

@media only screen and (max-width: 1100px) {
  .about-us-section {
    padding-bottom: 50px;
  }

}